__pycache__/
*.pyc
*.pyo
*.pyd
*.safetensors
*.ckpt
*.pth
*.pt
*.h5
*.onnx
*.log
*.wav
*.mp3
*.flac
*.ogg
*.zip
*.tar
*.tar.gz
*.egg-info/
backend/models/
backend/images/
backend/others/
.vscode/
.DS_Store
